// Settings
@import "settings/spaces";
@import "settings/colors";

// Normalize
@import "normalize";

// Components
@import "Components/Slider/styles.scss";
@import "Components/Navigation/styles.scss";

body {
    font-family: "Playfair Display", serif;
    // background-color: $gray-800;
    // color: white;
    color: $gray-800;
}

#root {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;

    border-bottom: 2px solid $gray-700;
    padding: $spacing-medium;
    margin: 0 $spacing-medium;

    font-size: 1.2em;
    text-align: center;
}

main {
    display: grid;
    grid-template-areas:
        "hero hero"
        "post aside";
    grid-auto-columns: 70% auto;
    gap: $spacing-small $spacing-medium;
    @media screen and (max-width: 768px) {
        grid-auto-columns: auto;
        grid-template-areas:
            "hero"
            "post";
    }

    padding: 0 $spacing-medium $spacing-large;

    .hero {
        grid-area: hero;

        // messing around with background clipping
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: url("https://picsum.photos/300/150");
        padding: $spacing-medium;
        font-size: 2em;
        font-weight: 700;
        text-align: center;
    }

    .post {
        grid-area: post;

        & > *:first-child {
            float: left;
        }
    }
}

footer {
    grid-area: footer;

    border-top: 2px solid $gray-700;
    padding: $spacing-medium;
    margin: 0 $spacing-medium;

    font-size: 1.2em;
    text-align: center;
}
