%button-styles {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    background-color: $white-transparent;
    color: white;
    padding: $spacing-small;
    border-radius: 50%;
}

%scroll-base-defs {
    overflow-x: scroll;
    // Hide scrollbar for Chrome, Safari and Opera
    &::-webkit-scrollbar {
        display: none;
    }
    // Hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox
}

// slider wrapper
.slider-w {
    display: flex;

    // SCROLLING BASE DEFS
    @extend %scroll-base-defs;

    // NOW TO THE SCROLLING SNAP
    scroll-snap-type: x mandatory;

    // item wrapper
    & > .item-w {
        scroll-snap-align: start;
        position: relative;
        margin-inline-end: $spacing-small;
    }

    // item image skeleton
    .item-skt {
        background-color: $gray-500;
    }

    // item button shows when wrapper is hovered
    &:hover .item-btn {
        opacity: 1;
    }
    // item button
    .item-btn {
        opacity: 0;
        transition: opacity 500ms;
        cursor: pointer;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &._prev {
            left: 0;
            &::before {
                content: "<";
                @extend %button-styles;
            }
        }
        &._next {
            right: 0;
            &::before {
                content: ">";
                @extend %button-styles;
            }
        }
    }
}
